version: "3.9"
services:
  laravel:
    build:
      context: ./mydekey
      dockerfile: Dockerfile
    volumes:
      - ./mydekey:/var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./laravel:/var/www
      - ./nginx/laravel.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel

  nextjs:
    build:
      context: ./webdekey-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api

  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
